.customModal {
    background: #fff;
    color: black;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    min-width: 80%;
}

.customModal input {
    color: white;
}